.cg4{
    display: flex;
    flex:1;
    background: #3D087B 0% 0% no-repeat padding-box;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
}
.cards{
    width: 45%;
    height: 500px;
    display: flex;
    flex-flow:column wrap;
    background: #3D087B 0% 0% no-repeat padding-box;
    
    border-radius: 20px;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 1366px;
    height: 849px;
    background: #3D087B 0% 0% no-repeat padding-box;
}
.clock{
   
    background: transparent url(./clock_logo.png) 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 204px;
    height: 77px;
    position: absolute;
    top: 34px;
    left: 124px;

}
.time{
width: 536px;
height: 130px;
position: absolute;
top: 42px;
left: 706px;
background: white 0% 0% no-repeat padding-box;
border: 1px solid white;
border-radius: 10px;
display: flex;
    flex:1;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
   
   margin: 10px;
}
.tim{
    
color: #3D087B;
text-align: left;
font: normal normal 600 20px/32px Manrope;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-transform: uppercase;
display: flex;
justify-content: center;
    align-items: center;
background-color: white;
}
.tm{
top: 62px;
left: 823px;
width: 80px;
height: 90px;
opacity: 1;
text-align: center;
align-items: center;
}
.hr{
background: transparent url(./timeline.png) 0% 0% no-repeat padding-box;
}
.min{
background: transparent url(./timeline.png) 0% 0% no-repeat padding-box;
}
.sec{
background: transparent url(./timeline.png) 0% 0% no-repeat padding-box;
}
.am{
display: flex;
justify-content: center;
color: #FFFFFF;
font-size: larger;

background: transparent url(./AM_svg.svg) 0% 0% no-repeat padding-box;
}
.tms{
    width: 0px;
    color: #3D087B;
    text-align: left;
    font: normal normal 600 20px/32px Manrope;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.tback1{
position: absolute;
top: 62px;
left: 766px;
width: 416px;
height: 130px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.71;
z-index: -1;      
}
.tback2{
position: absolute;
top: 72px;
left: 785px;
width: 379px;
height: 130px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.22;
z-index: -2;      
}
.tsetover{
display: flex;
    flex:1;
    flex-flow:column wrap;
position: absolute;
top:100px;
left: 0px;
width: 566px;
height: 363px;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
}
.dotime{

    display: flex;
    flex:1;
    flex-flow:row wrap;
    justify-content:left;
    align-items: center;
    color: white;
 border:white solid 1px;
   margin-left: 20px;
   padding: 0px;
  
  
}

.line{
position: relative;
top: 0px;
left: 35px;
height: 40px;
margin-left: 0px;
border-left: 3px solid black;
opacity: .5;

}
.lunch{
width: 500px;
}
.cl1{
width: auto;
height: 35px;

color: #3D087B;
}
.cls1{
width: 35px;
height: 35px;
background-image:url(./wake_up.svg);
background-size: cover;
}
.cls11{
width: 35px;
height: 35px;
background-image:url(./lunch_time.svg);
background-size: cover;
}

.cls12{
width: 35px;
height: 35px;
background-image:url(./nap_time\ \(1\).svg);
background-size: cover;
}
.cls13{
width: 35px;
height: 35px;
background-image:url(./nap_time\ \(1\).svg);
background-size: cover;
}
select{
position: absolute;
right: 40px;
width: 250px;
height: 30PX;
}
.cls2{
margin-left: 20px;
}
.set{
display: flex;
    flex:1;
    flex-flow:column wrap;            
width: 566px;
height: 363px;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
}
.grab{
position: absolute;
top: 212px;
left: 706px;
width: 536px;
height: 118px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
text-align: center;
display: flex;
align-items: center;
color: #8E53F0;
font: normal normal 900 28px/40px Bauhaus Hv BT;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    position: absolute;
    top: 345px;
left: 707px;
width: 536px;
height: 341px;
opacity: 1;
  }
.good{
position: absolute;
top: 475px;
left: 0px;
width: 566px;
height: 77px;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 0.23;
display: flex;
align-items: center;
}
.go{
position: absolute;
top: 500px;
left: 20px;
width: 600px;
opacity:1;

text-align: left;
font: normal normal 900 20px/34px Bauhaus Hv BT;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
letter-spacing: 0px;
color: white;
text-transform: uppercase;
opacity: 1;
}
.setalarm{
position: absolute;
top: 564px;
left: 0px;
width: 299px;
height: 50px;
background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
display: flex;
align-items: center;
justify-content: center;
color: white;
}
.setalarm:hover{
    
background: transparent linear-gradient(113deg, #FC5EFF 0%, #F1A7C5 40%, #6E54EC 81%, #CB52F8 100%) 0% 0% no-repeat padding-box;
}
.wack{
position: absolute;
top: 565px;
left: 310px;
width: 253px;
height: 117px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 0.23;
display: flex;
align-items: center;
}
.wackin{
position: absolute;
top: 575px;
left: 329px;
width: 200px;
height: 94px;
text-align: left;
font: normal normal bold 12px/25px Manrope;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
letter-spacing: 0px;
color: #F25CFE;
opacity: 1;
}








@media only screen and (max-width:460px){
  body{
    margin: 0px;
    padding: 0px;
    width: 350px;
    height: 2000px;
    background: #3D087B 0% 0% no-repeat padding-box;
}
.clock{
   
    background: transparent url(./clock_logo.png) 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 204px;
    height: 77px;
    position: absolute;
    top: 34px;
    left: 124px;

}
.time{
width: 536px;
height: 130px;
position: absolute;
top: 42px;
left: 706px;
background: white 0% 0% no-repeat padding-box;
border: 1px solid white;
border-radius: 10px;
display: flex;
    flex:1;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
   
   margin: 10px;
}
.tim{
    
color: #3D087B;
text-align: left;
font: normal normal 600 20px/32px Manrope;
text-transform: uppercase;
display: flex;
justify-content: center;
    align-items: center;
background-color: white;
}
.tm{
top: 62px;
left: 823px;
width: 80px;
height: 90px;
opacity: 1;
text-align: center;
align-items: center;
}
.hr{
background: transparent url(./timeline.png) 0% 0% no-repeat padding-box;
}
.min{
background: transparent url(./timeline.png) 0% 0% no-repeat padding-box;
}
.sec{
background: transparent url(./timeline.png) 0% 0% no-repeat padding-box;
}
.am{
display: flex;
justify-content: center;
color: #FFFFFF;
font-size: larger;

background: transparent url(./AM_svg.svg) 0% 0% no-repeat padding-box;
}
.tms{
    width: 0px;
    color: #3D087B;
    text-align: left;
    font: normal normal 600 20px/32px Manrope;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.tback1{
position: absolute;
top: 62px;
left: 766px;
width: 416px;
height: 130px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.71;
z-index: -1;      
}
.tback2{
position: absolute;
top: 72px;
left: 785px;
width: 379px;
height: 130px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.22;
z-index: -2;      
}
.tsetover{
display: flex;
    flex:1;
    flex-flow:column wrap;
position: absolute;
top: 149px;
left: 124px;
width: 566px;
height: 363px;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
}
.dotime{

    display: flex;
    flex:1;
    flex-flow:row wrap;
    justify-content:left;
    align-items: center;
    color: white;
 border:white solid 1px;
   margin: 0px;
   padding: 0px;
  
  
}

.line{
position: absolute;
top: 220px;
left: 165px;
height: 40px;
border-left: 3px solid black;
opacity: .5;

}
.lunch{
width: 500px;
}
.cl1{
width: auto;
height: 35px;

color: #3D087B;
}
.cls1{
width: 35px;
height: 35px;
background-image:url(./wake_up.svg);
background-size: cover;
}
.cls11{
width: 35px;
height: 35px;
background-image:url(./lunch_time.svg);
background-size: cover;
}

.cls12{
width: 35px;
height: 35px;
background-image:url(./nap_time.svg);
background-size: cover;
}
.cls13{
width: 35px;
height: 35px;
background-image:url();
background-size: cover;
}
select{
position: absolute;
right: 40px;
width: 250px;
height: 30PX;
}
.cls2{
margin-left: 20px;
}
.set{
display: flex;
    flex:1;
    flex-flow:column wrap;            
width: 566px;
height: 363px;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;

opacity: 1;
}
.grab{
position: absolute;
top: 212px;
left: 706px;
width: 536px;
height: 118px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
text-align: left;
display: flex;
align-items: center;
color: #8E53F0;
font: normal normal 900 28px/40px Bauhaus Hv BT;
}
.img{
position: absolute;
top: 345px;
left: 707px;
width: 536px;
height: 341px;
background: transparent url(./Component\ 30\ –\ 1.svg) 0% 0% no-repeat padding-box;
opacity: 1;
}
.good{
position: absolute;
top: 527px;
left: 124px;
width: 566px;
height: 77px;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 0.23;
display: flex;
align-items: center;
}
.go{
position: absolute;
top: 549px;
left: 149px;
opacity:1;

text-align: left;
font: normal normal 900 27px/34px Bauhaus Hv BT;
letter-spacing: 0px;
color: white;
text-transform: uppercase;
opacity: 1;
}
.setalarm{
position: absolute;
top: 624px;
left: 124px;
width: 299px;
height: 50px;
background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
display: flex;
align-items: center;
justify-content: center;
color: white;
}
.setalarm:hover{
background: transparent linear-gradient(113deg, #FC5EFF 0%, #F1A7C5 40%, #6E54EC 81%, #CB52F8 100%) 0% 0% no-repeat padding-box;
}
.wack{
position: absolute;
top: 615px;
left: 437px;
width: 253px;
height: 117px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 0.23;
display: flex;
align-items: center;
}
.wackin{
position: absolute;
top: 625px;
left: 449px;
width: 200px;
height: 94px;
text-align: left;
font: normal normal bold 12px/25px Manrope;
letter-spacing: 0px;
color: #F25CFE;
opacity: 1;
}




















    .cards{
        width: 100px;
        height: 700px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }
    .clock{
   background: transparent url(./clock_logo.png) 0% 0% no-repeat padding-box;
   opacity: 1;
   width: 204px;
   height: 77px;
   position: relative;
   left: -50px;
   margin-top: 10px;
}
.set{
display: flex;
    flex:1;
    flex-flow:column wrap;            
width: 300px;
height: 363px;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;

}
.tsetover{
display: flex;
    flex:1;
    flex-flow:column wrap;
position: absolute;
top: 99px;
left: 0px;
width: 300px;
height: 363px;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;

}
.dotime{

    display: flex;
    flex:1;
    flex-flow:row wrap;
    justify-content:left;
    align-items: center;
    color: white;
 border:white solid 1px;
   margin: 0px;
   padding: 0px;
  
  
}
.cl1{
width: auto;
height: 35px;
color: #3D087B;
}
.cls1{
width: 35px;
height: 35px;
background-image:url(./wake_up.svg);
background-size: cover;
}
.cls11{
width: 35px;
height: 35px;
background-image:url(./lunch_time.svg);
background-size: cover;
}

.cls12{
width: 35px;
height: 35px;
background-image:url(./nap_time\ \(1\).svg);
background-size: cover;
}
.cls13{
width: 35px;
height: 35px;
background-image:url(./nap_time\ \(1\).svg);
background-size: cover;
}
select{
position: absolute;
right: 5px;
width: 100px;
height: 30PX;
}
.cls2{
margin:5px;
}
.good{
position: relative;
top: 477px;
left: 0px;
width: 300px;
height: 77px;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 0.23;
display: flex;
font: normal normal 800 20px/34px Bauhaus Hv BT;
align-items: center;
}
.go{
position: absolute;
top: 490px;
width: 300px;
left: 2px;
opacity:1;
text-align: left;
font: normal normal 800 18px/34px Bauhaus Hv BT;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
letter-spacing: 0px;
color: white;
text-transform: uppercase;


}
.setalarm{
position: relative;
top: 485px;
left: 0px;
width: 299px;
height: 60px;
background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
display: flex;
align-items: center;
justify-content: center;
color: white;
}
.setalarm:hover{
background: transparent linear-gradient(113deg, #FC5EFF 0%, #F1A7C5 40%, #6E54EC 81%, #CB52F8 100%) 0% 0% no-repeat padding-box;
}
.wack{
    position: relative;
top: 500px;
left: 0px;
width: 299px;
height: 120px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 0.23;
display: flex;
align-items: center;
}
.wackin{
    position: relative;
    top: 390px;
    left: 10px;
    width: 299px;
    height: 120px;
text-align: left;
font: normal normal bold 12px/25px Manrope;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
letter-spacing: 0px;
color: #F25CFE;
opacity: 1;
}
.time{
width: 300px;
height: 130px;
position: absolute;
top: 810px;
left: 10px;
right: 10px;
background: white 0% 0% no-repeat padding-box;
border: 1px solid white;
border-radius: 10px;
display: flex;
    flex:1;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
   margin: 12px;
   
}
.tim{
    
    color: #3D087B;
    text-align: left;
    font: normal normal 600 20px/32px Manrope;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
       background-color: white;
            }
.tm{
top: 62px;
left: 823px;
width: 50px;
height: 70px;
opacity: 1;

text-align: center;
align-items: center;

}
.hr{
background: transparent url(./timeline.png) 0% 0% no-repeat padding-box;
}
.min{
background: transparent url(./timeline.png) 0% 0% no-repeat padding-box;
}
.sec{
background: transparent url(./timeline.png) 0% 0% no-repeat padding-box;
}
.am{
display: flex;
justify-content: center;
color: #FFFFFF;
font-size: larger;
background: transparent url(./AM_svg.svg) 0% 0% no-repeat padding-box;
}
.tms{
    width: 0px;
    color: #3D087B;
    text-align: left;
    font: normal normal 600 20px/32px Manrope;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.tback1{
position: absolute;
top: 830px;
left: 53px;
width: 260px;
height: 130px;
background: #FFFFFF  0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.71;

}
.tback2{
position: absolute;
top: 837px;
left: 68px;
width: 230px;
height: 130px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.22;

}
.grab{
position: absolute;
top: 990px;
left: 25px;
width: 300px;
height: 88px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
text-align: center;
align-items: center;
color: #8E53F0;
font-size: 20px;
font-weight:bolder;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    position: absolute;
      top: 1100px;
left: 25px;
width: 300px;
height: 200px;
  }

}
.big{
font-size: 30px;
}