body{
    background-color:rgb(227, 227, 137);
}

p{
    color: rgb(45, 207, 110);
    font-size: 20px;
    font-style: italic;

}

h3{
    color:rgb(201, 90, 49);
} 

pre{
    color: red;
    font-size: 20px;
}

div{
    color:wheat;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 40px;
    background-color: darkmagenta;
    padding-top: 20px;
}